<h1>{% trans %}email.reset.password.heading{% endtrans %}</h1>

<p>{% trans %}email.reset.password.p1{% endtrans %}</p>

<a href="{{ url('reset_token_nubai', {token: resetToken}) }}">{{ url('reset_token_nubai', {token: resetToken}) }}</a>

<p>{% trans %}This link will expire in{% endtrans %} {{ linkLifetime }} {% trans %}minutes{% endtrans %}.</p>

<p>{% trans %}email.reset.password.bye{% endtrans %}</p>
