<h1>Hi!</h1>

<p>To reset your password, please visit the following link</p>

<a href="{{ url('check_reset_email_nubai') }}">{{ url('check_reset_email_nubai') }}</a>

<p>This link will expire in X.</p>

<p>Cheers!</p>
