<h1>{% trans %}email.confirm.email.heading{% endtrans %}</h1>

<p>{% trans %}email.confirm.email.p1{% endtrans %}</p>

<a href="{{ signedUrl|raw }}">{% trans %}Confirm my Email{% endtrans %}</a>

<p>{% trans %}This link will expire in{% endtrans %} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>

<p>{% trans %}email.confirm.email.bye{% endtrans %}</p>