{% extends 'partials/_master.twig' %}

{% block title %}
    {% trans %}title.check.reset.email{% endtrans %}
{% endblock %}

{% block body %}
    <p>
        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
        This link will expire in X times.
    </p>
    <p>If you don't receive an email please check your spam folder or <a href="#">try again</a>.</p>
{% endblock %}
