{% extends 'partials/_master.twig' %}

{% block title %}
    {% trans %}title.reset.password.request.page{% endtrans %}
{% endblock %}

{% block body %}
    <h1>{% trans %}heading.reset.password.request.form{% endtrans %}</h1>

    {{ form_start(requestForm) }}
    {{ form_row(requestForm.email) }}
    <div class="w3-section">
        <small>{% trans %}info.reset.password.request.form{% endtrans %}</small>
    </div>

    <button type="submit" class="w3-btn w3-button w3-dark-gray w3-padding-16 w3-section">{% trans %}button.reset.password.request.form{% endtrans %}</button>
    {{ form_end(requestForm) }}
{% endblock %}
