{% extends 'partials/_master.twig' %}

{% block title %}
    {% trans %}title.reset.password.page{% endtrans %}
{% endblock %}

{% block body %}
    <h1>{% trans %}header.reset.password.page{% endtrans %}</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button type="submit" class="w3-btn w3-button w3-dark-gray w3-padding-16 w3-section">{% trans %}buttom.reset.password{% endtrans %}</button>
    {{ form_end(resetForm) }}
{% endblock %}
