<!-- Footer -->
<footer class="w3-container">
    <div class="w3-padding-16">
        <p>&copy;Nubai</p>
        <p>Achada Grande Tr&aacute;s, Praia, CV</p>
        <p>website@nubai.com.cv</p>
        {% include 'helpers/_languageselect.html.twig' with {'type': 'select', 'class': 'w3-input'} %}
        <span class="w3-text-orange"><p><i class="fa-solid fa-circle-info w3-left w3-margin-right"></i>{{ warning.content }}</p></span>
    </div>
</footer>
<!-- End Footer -->