<!-- Footer -->
<footer class="w3-container">
    <div class="w3-padding-16">
        <span>&copy;Nubai</span><br>
        <span>Achada Grande Tr&aacute;s, Praia, CV</span><br>
        <div class="w3-section">
            {% include 'helpers/_languageselect.html.twig' with {'type': 'select', 'class': 'w3-button w3-border w3-border-white'} %}
        </div>
        {% if warning is not null %}
            <span class="w3-text-orange"><p><i class="fa-solid fa-circle-info w3-left w3-margin-right"></i>{{ warning.content }}</p></span>
        {% endif %}
    </div>
</footer>
<!-- End Footer -->