<!-- Header -->
<header class="main-header w3-container w3-padding-16 w3-light-gray">
    <nav class="w3-bar">
        <div class="w3-bar-item">
            <a href="{{ path('homepage_locale') }}"><img src="{{ asset('nubai-logo2.png', 'files')  }}" alt="logo" title="O nosso logo" class="logo"></a>
        </div>
        <div class="w3-bar-item w3-bar w3-right">
            <div class="w3-bar-item w3-display-container">
                <a href="{{ path('shopping_cart_nubai') }}"><i class="fa-solid fa-cart-shopping fa-2x blue-nubai"></i></a>
                <div id="cart-quantity" class="w3-display-topright w3-round-xxlarge w3-padding-small w3-red w3-opacity">0</div>
            </div>
            <div class="w3-bar-item" data-controller="mainmenu">
                <a href="javascript:void(0)" data-action="click->mainmenu#open"><i class="fa-solid fa-bars fa-2x blue-nubai"></i></a>
            </div>
        </div>
    </nav>
</header>
<!-- End Header -->