<!-- Header -->
<header class="w3-container w3-padding-16 w3-light-gray">
    <div>
        <a href="{{ path('homepage_locale') }}"><img src="{{ asset('nubai-logo2.png', 'files')  }}" alt="logo" title="O nosso logo" class="logo w3-left"></a>
        <nav class="w3-right">
            <a href="#" onclick="document.getElementById('menu-modal').style.display = 'block'"><i class="fa-solid fa-bars fa-3x" style="color: #2c89a0;"></i></a>
        </nav>
    </div>
</header>
<!-- End Header -->