@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body {
    font-size: 120%;
    background-color: #2c89a0;
}
img.logo {
    display: block;
    width: 55px;
}

h1 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #2c89a0;
}

h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #2c89a0;
}

body > footer {
    font-size: 90%;
    color: white;
}

.blue-nubai {
    color: #2c89a0;
}

.blue-nubai-bg {
    background-color: #2c89a0;
}

/* Erros dos formularios */
.form-errors ul,
.form-email-field ul,
.form-password-field ul,
.form-checkbox-field ul,
.form-captcha-field ul {
    color: red;
    list-style-type: none;
}

.clipboard-button {
    display: none;
}

.clipboard--supported .clipboard-button {
    display: initial;
}

.cropper-view-box,
.cropper-face {
    border-radius: 50%;
}


#product-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#product-list-container article {
    width: 33%;
}


/* paginador */
#pager-container ul.pagination {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

#pager-container ul.pagination > li {
    margin: 0 8px 8px 0;
    padding: 16px;
    background-color: #ccc;
}

#pager-container ul.pagination > li.active {
    color: white;
    background-color: #2c89a0;
}

#pager-container ul.pagination a {
    padding: 16px;
    text-decoration: none;
}