body {
    font-size: 120%;
    background-color: #2c89a0;
}
img.logo {
    display: block;
    width: 55px;
}
h2 {
    font-weight: bold;
    text-transform: uppercase;
    color: #2c89a0;
}
body > footer {
    font-size: 90%;
    font-weight: bold;
    color: white;
}

.blue-nubai {
    color: #2c89a0;
}