{% extends 'partials/_master.twig' %}

{% block title %}
    {% trans%}my.cart.page.title{% endtrans %}
{% endblock %}

{% block main %}
    <h1>{% trans %}my.shopping.cart{% endtrans %}</h1>

    {#
    {% if product is defined %}
        {% set images = product.images.getValue() %}
        <img src="{{ images[0] }}" alt="image">
    {% endif %}
    #}

    {{ dump(cart) }}

{% endblock %}
