{% extends 'partials/_master.twig' %}

{% block title %}
    {% trans%}my.cart.page.title{% endtrans %}
{% endblock %}

{% block main %}
    <h1>{% trans %}my.shopping.cart{% endtrans %}</h1>

    {{ dump(data) }}

{% endblock %}
