{% extends 'partials/_master.twig' %}

{% block title %}
    {% trans%}my.profile.page.title{% endtrans %}
{% endblock %}

{% block main %}
    <h1>{% trans %}my.profile{% endtrans %}</h1>

    <div data-controller="cropper">

        <div id="profile-photo-zone" class="w3-center">
            <div id="profile-photo-wrapper">
                <img src="{{ asset('icon-profile.png', 'files') }}" alt="profile-photo" class="w3-border w3-padding w3-image" id="profile-photo">
            </div>
            <div class="w3-section">
                <button data-action="click->cropper#uploadImage">{% trans %}button.change.profile.photo{% endtrans %}</button>
            </div>
        </div>
        <div id="cropper-modal" class="w3-modal">
            <div class="w3-modal-content">
                <div class="w3-bar">
                    <span onclick="close_cropper_modal();" class="w3-bar-item w3-button w3-right"><i class="fa-solid fa-xmark blue-nubai"></i></span>
                </div>
                <div class="w3-container blu-nubai">
                    <div id="cropper-zone" class="w3-center">
                        <div id="photo-to-crop-wrapper">
                            <img src="{{ asset('GettyImages-1285126883-scaled.jpg', 'files')  }}" alt="photo-to-crop" class="w3-image" id="photo-to-crop" data-cropper-target="image">
                        </div>
                        <div class="w3-section">
                            <button>{% trans %}button.load.image.to.crop{% endtrans %}</button>
                            <button id="button-crop" data-action="click->cropper#cropImage">{% trans %}button.accept.crop{% endtrans %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                        
    </div>

{% endblock %}
