{% extends 'partials/_master.twig' %}

{% block title %}
    {% trans%}my.profile.page.title{% endtrans %}
{% endblock %}

{% block main %}
    <h1>{% trans %}my.profile{% endtrans %}</h1>

    <div data-controller="cropper" data-cropper-url-value="{{ path('image-profile_nubai') }}">

        <div id="profile-photo-zone" class="w3-center">
            <div id="profile-photo-wrapper">
                <img src="{{ asset('icon-profile.png', 'files') }}" alt="profile-photo" class="w3-border w3-padding w3-image w3-circle" id="profile-photo" data-cropper-target="profileimage">
            </div>
            <div class="w3-section">
                <label for="image-source" class="w3-button blue-nubai-bg w3-text-white"><i class="fa-solid fa-camera"></i></label>
                <input id="image-source" type="file" name="image-source" class="w3-hide" accept="image/*" data-cropper-target="inputimage" data-action="change->cropper#changeImage">
            </div>
        </div>
        <div id="cropper-modal" class="w3-modal" data-cropper-target="modal">
            <div class="w3-modal-content">
                <div class="w3-bar">
                    <span class="w3-bar-item w3-button w3-right" data-action="click->cropper#closeModal"><i class="fa-solid fa-xmark blue-nubai"></i></span>
                </div>
                <div class="w3-container w3-section blu-nubai">
                    <div id="cropper-zone" class="w3-center">
                        <div id="photo-to-crop-wrapper">
                            <img src="{{ asset('GettyImages-1285126883-scaled.jpg', 'files')  }}" alt="photo-to-crop" class="w3-image" id="photo-to-crop" data-cropper-target="cropimage">
                        </div>
                        <div class="w3-section">
                            <button id="button-crop" class="w3-button blue-nubai-bg w3-text-white" data-action="click->cropper#cropImage">{% trans %}button.accept.crop{% endtrans %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
