{% extends 'partials/_master.twig' %}

{% block title %}
    {% trans%}my.profile.page.title{% endtrans %}
{% endblock %}

{% block main %}

    <h1>{% trans %}my.profile{% endtrans %}</h1>
    
{% endblock %}
